li .glyphicon {
    margin-right: 10px;
}


/* Highlighting rules for nav menu items */
li.link-active a,
li.link-active a:hover,
li.link-active a:focus {
    background-color: #4189C7;
    color: white;
}

/* Keep the nav menu independent of scrolling and on top of other items */
.main-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
/*override the original color of the humbugger button*/
.navbar-toggle .icon-bar {
  background-color: black;
}

 /*temporary border*/
.border{
  border:1px solid black;
}

.navbar-nav{
  position:relative;
  float:right;
}

.profile-block{
  position:relative;
}

 .profile-block-info{
  position:relative;
  top:15px;
  float:left;
  margin-left: 20px;
}

 .profile-name {
   position:relative;
  font-size: 10pt;
}

 .profile-title{
  font-size:8pt;
}

 .profile-pic{
  border-radius: 100px;
  border:1px solid black;
  float:left;
  width:100px;
  height:100px;
}
.navbar li {
  font-size: 15px;
  margin: 6px;
}

.navbar li a {
  padding: 10px 16px;
  border-radius: 4px;
}

@media(max-width: 264px){

}

@media (max-width: 768px) {
    /* On small screens, convert the nav menu to a vertical sidebar */
    .main-nav {
        width: 100%;
        height: calc(25% - 20px);
    }
    .navbar {
        border-radius: 0px;
        border-width: 0px;
        height: 100%;
    }
    .navbar-header {
        float: none;
    }
    .navbar-collapse {
        border-top: 1px solid green;
        padding: 0px;
    }
    .navbar ul {
        float: none;
        padding-left:20px;
        padding-right:20px;
    }
    .navbar li {
        float: none;
        font-size: 15px;
        margin: 6px;
    }
    .navbar li a {
        padding: 10px 16px;
        border-radius: 4px;
    }
    .navbar a {
        /* If a menu item's text is too long, truncate it */
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
