.feature-container{
  padding : 30px 30px 30px 30px;
}

.feature{
  border-radius: 10px;
  box-shadow: 2px 2px 2px gainsboro;
  border: 1px solid #efefef;
  /* height: 500px; */
}

.feature:hover{
  border : 1px solid #4189C7;
  box-shadow: 4px 4px 4px gainsboro;

}

.feature-link{
  outline: none;
  text-decoration: none;
  color:black;
}

.feature-content{
  text-align: left;
  padding-left: 30px;
  padding-right: 30px;
}

.content-box{
  padding-left:10%;
  padding-right:10%;
}

.homepage-image{
  width: 99%;
  border-radius: 10px;
}
