<div class="content-box">
  <div class="row ">
      <div class="col-sm-4 project-container">
        <a class="project-link" [routerLink]='["/basicSphere"]'>
          <div class="project">
              <img class="project-image" src="assets/projectPageImages/basicSphere.svg"/>
              <div class="project-content">
                <p>Basic Ico Sphere</p>
              </div>
          </div>
        </a>
      </div>

      <div class="col-sm-4 project-container">
          <a class="project-link" [routerLink]='["/dragon"]'>
            <div class="project">
                <img class="project-image" src="assets/projectPageImages/dragon.svg"/>
                <div class="project-content">
                  <p>Dragon Beast</p>
                </div>
            </div>
          </a>
        </div>
  </div>
</div>

<footer-tab></footer-tab>
