<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\Ivan-Richard.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" />
    </system.webServer>
  </location>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="shortSiteRule" stopProcessing="true">
          <match url="^(.*)$" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^ivan-richard\.com$" />
          </conditions>
          <action type="Redirect" url="http://www.ivan-richard.com/{R:1}" redirectType="Permanent" />
        </rule>
        <rule name="longSiteRule" stopProcessing="true">
          <match url="^(.*)$" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^ugolole-001-site3\.htempurl\.com$" />
          </conditions>
          <action type="Redirect" url="http:///{R:1}" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>