.content-box{
  position:relative;
  top:200px;
  border: 1px solid black;
  padding-left:30px;
  padding-right:30px;
}
@media (max-width: 767px) {
  /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
  .body-content {
    padding-top: 50px;
  }
}
