<div class='container-fluid' >
  <div class='row' >
    <div class='col-sm-12' >
      <app-nav-menu></app-nav-menu>
    </div>
  </div>
</div>

<div class="container-fluid content-box">
    <div class="row">
        <div class="col-sm-12">
            <!--Controlls how the router-outlet will renender the
              next required page,in this case the rendering process adds an animations.-->
            <main [@routeAnimations]='prepareRoute(outlet)' class="content">
                <router-outlet #outlet="outlet"></router-outlet>
            </main>
          </div>
    </div>
</div>
