<div class="row">
    <div class="col-sm-12 footer-aligment">
        <footer id="myFooter">
            <div class="container">
                <ul>
                    <li><a href="#">About website</a></li>
                    <li><a href="#">Contact me</a></li>
                </ul>
            <p class="footer-copyright">© 2016 Copyright Ivan-Richard</p>
            </div>
            <div class="footer-social">
                <a target="_blank"href="https://www.quora.com/profile/Ivan-Richard-Ugolole" class="social-icons"><i class="fa fa-quora"></i></a>
                <a target="_blank" href="https://github.com/ugolole" class="social-icons"><i class="fa fa-github"></i></a>
                <a target="_blank" href="https://twitter.com/UgololeIvan" class="social-icons"><i class="fa fa-twitter"></i></a>
            </div>
        </footer>
    </div>
</div>
